:root{
    --davbar-link-float: left;
    --davbar-background: rgba(186, 186, 186, 0.334);
    --davbar-height: 3.7rem;
    --davbar-link-color: black;
    --davbar-link-background: lightgray;
    --davbar-link-hover-background: lightgray;
}

.davbar{
    background-color: var(--davbar-background);
    border-radius: 15px;
    width: auto;
}

.davbar>ul{
    list-style-type: none;
    display: flex;
    height: var(--davbar-height);
    text-align: center;
    align-items: center;
    justify-content: var(--davbar-link-float);
}

.davbar>ul>li{
     padding: 5px;
}

.bar{
    background-color: white;
    
}

.davbar>ul>li>a{
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
    padding: 0.5rem;
    background-color: var(--davbar-link-background);
    border-radius: 10px;
    transition:ease-in-out 0.1s;

    &:hover{
        background-color: gray;
    }
    text-decoration: none;
    font-style: normal;
    color: var(--davbar-link-color);
}