:root{
    --davbar-link-float: left;
    --davbar-background: #1D293D;
    --davbar-height: 4.2rem;
    --davbar-link-color: black;
    --davbar-link-background: lightgray;
    --davbar-link-hover-background: lightgray;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.davbar{
    background-color: var(--davbar-background);
    width: auto;
    box-shadow: 0px 15px 10px -15px #111;
}

.davbar>ul{
    list-style-type: none;
    display: flex;
    height: var(--davbar-height);
    text-align: center;
    align-items: center;
    justify-content: var(--davbar-link-float);
}

.davbar>ul>li{
     padding: 15px;
}

.bar{
    background-color: white;
    
}

.davbar>ul>li>a{
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
    padding: 0.5rem;
    color: #ffff;
    border-radius: 10px;
    transition:ease-in-out 0.1s;
    text-decoration: none;
    font-style: normal;
}

.davbar>ul>li>a:hover{
    color: wheat;
}

@media screen and (max-width: 768px) {
    .davbar {
        height: auto; 
    }

    .davbar > ul {
        flex-direction: column; 
        height: auto; 
        padding: 10px 0;
    }

    .davbar > ul > li {
        width: 100%; 
        padding: 10px 0;
        box-sizing: border-box;
    }

    .davbar > ul > li > a {
        display: block; 
        width: 80%;
        margin: 0 auto;
    }
}